$fs-h1: $gap * 2; //40px
$fs-h2: $gap * 1.5; //30px
$fs-h3: $gap * 1.2; //24px
$fs-h4: $gap * 0.9; //18px
$fs-body: $gap * 0.8; //16px
$fs-small: $gap * 0.7; //14px
$fs-tiny: $gap * 0.6; //12px


$fw-bolder: 600;
$fw-bold: 400;
$fw-normal: 200;
$fw-light: 200;
